<html>
<body>
<h2>Helm status report for this deployment</h2>
<h4>Visit the Kubernetes dashboard for more details regarding the deployment.</h4>
<p><iframe src="<%= filename %>" frameborder="0" height="400"
           width="95%"></iframe></p>
</body>
</html>